@{
    // Post metadata
    var postId = 1;
    var postTitle = "Daily Dose of Memes";
    var postAuthor = "Group 10";
    var postImageUrl = "harold.jpg";
    var postDate = DateTime.UtcNow.AddHours(8);
}

<h3>Summary</h3>
<p>Awesome memes we collected today!</p>

<h3>Full Content</h3>
<p>
    This is the full detailed content about our daily meme collection. We spend hours scrolling through the internet 
    to find the funniest and most relatable memes to share with our community. From cat memes to programming jokes, 
    we've got it all!
</p>

<p>
    Our collection includes:
</p>
<ul>
    <li>Hilarious cat memes</li>
    <li>Programming humor</li>
    <li>Relatable life situations</li>
    <li>Classic internet memes</li>
</ul>

<p>
    Stay tuned for more daily meme updates!
</p>
