@{
    ViewData["Title"] = "Group 10 Blog Posts";
}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Daily Memes Collection</h2>
      <h5>A collection of memes we compiled today, Nov 10, 2025</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Details</p>
    </div>
    <div class="card">
      <h2>Technologia</h2>
      <h5>Mindblowing technology, Nov 09, 2025</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Details</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Us</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>We are Group 10 composed of; Gaa, Fullero, Nataba & Velasco</p>
    </div>
  </div>
</div>