@{
    ViewData["Title"] = "Group 10 Blog Posts";
}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Daily Memes Collection</h2>
      <h5>Daily Dose, Nov 10, 2025</h5>
      <div class="image" style="height:100; width:100%;">
    <img src="~/images/harold.jpg" alt="A Hide the Pain Harold Meme" style="width: 100%; height: 100%; object-fit: cover;">
</div>
      <p>Memes we collected today.</p>
    </div>
    <div class="card">
      <h2>Technologia</h2>
      <h5>Tech Information, Nov 09, 2025</h5>
      <div class="image" style="height:100%; width:100%;">
    <img src="~/images/technologia.jpg" alt="A picture with a caption saying Technologia with computer parts in the background." style="width: 100%; height: 100%; object-fit: cover;">
    </div>
      <p>Mindblowing technology that are awesome.</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Us</h2>
     <div class="image" style="height:100; width:100%;">
    <img src="~/images/cats.jpg" alt="A litter of 4 Kittens metaphorically referring to us." style="width: 100%; height: 100%; object-fit: cover;">
      <p>We are Group 10 composed of; Gaa, Fullero, Nataba & Velasco</p>
    </div>
  </div>
</div>